/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: #0b2133;
}

.link-active {
  color: #184d7b;
  text-decoration: none;
}

.header__iconDiv {
  width: 100%;
  /* height: 10rem; */
}
.header__img {
  margin-top: 3%;
  margin-bottom: 2%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navBar {
  margin: 0 15%;
}

.header__navBar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__navBar ul li {
  display: inline;
  font-weight: 600;
}
/* 
Footer
*/
.footer {
  /* border: 2px solid gray; */
  margin: 2% 15%;
}
.footer__topRow {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 5%;
}
.footer__child {
  width: 25%;
}

.footer__child p {
  /* width: 80%; */
  margin: 5px 0;
}

.footer__shop-title {
  color: gray;
  font-weight: 700;
}

.footer__follow-icons {
  display: flex;
  justify-content: flex-start;
}

.footer__follow-icons img {
  margin-right: 15%;
}

.footer__bottomRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer__bottomRowDiv {
  padding-left: 3%;
}

.footer__bottomRow-ul {
  list-style: none;
  padding-left: 0;
}

.footer__bottomRow-ul li {
  margin: 10px 0;
}
.footer__payments {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin: 1vh 0 10vh 0;
}

.footer__payments img {
  margin: 0 1vh;
}

.banner__img {
  width: 100%;
  height: 100%;
  background-position: cover;
}


.banner2__text {
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 5vh;
}

.banner2__text p {
  font-size: 22px;
  width: 70%;
}

.banner2-heading {
  font-weight: 400;
  width: 100%;
  /* color: red; */
}

.banner2-btn {
  background: none;
  border: none;
  padding: 1vh 0;
  border-bottom: 2px solid white;
  color: inherit;
  font-weight: 700;
  cursor: pointer;
}

.banner2__img {
  position: relative;
  bottom: 70px;
  height: 64.5vh;
  width: 100%;
}

/* 
Details
*/

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5% 0;
}

.details__topic {
  width: 30%;
  text-align: center;
  line-height: 30px;
}

/* 
Best Seller
*/

.bestSeller {
  text-align: center;
}

.bestSeller__ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.bestSeller__ul li {
  margin: 1% 1% 0 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid white;
}

.bestSeller__ul li button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.bestSeller__ul li:hover {
  color: #2e90e5;
  border-bottom: 1px solid #2e90e5;
}

.bestSeller__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10%;
}

.bestSeller__product {
  background-color: white;
  box-shadow: 1px 0px 5px grey;
  width: fit-content;
  border: 3px solid #f6f7f8;
  border-radius: 4px;
  margin: 1%;
  padding: 1%;
  position: relative;
}

.bestSeller__product:hover {
  box-shadow: 1px 0px 15px grey;
}

.bestSeller__cart {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.icon {
  z-index: 1;
  position: relative;
}

.bestSeller__cart:hover {
  opacity: 1;
  background-color: #f6f7f86f;
}

.bestSeller__favIcon,
.bestSeller__addToCart {
  font-size: 36px;
  cursor: pointer;
  position: relative;
  top: 50%;
  color: #2e90e5;
  z-index: 2;
  /* height: 100%; */
}

.bestSeller__product-img {
  opacity: 1;
}

.bestSeller__product-img:hover {
  opacity: 0.5;
}

.bestSeller__product-textDiv {
  border-top: 1px solid #8080803c;
  margin-top: 5%;
}

.bestSeller-priceOff {
  color: gray;
  font-size: 18px;
  text-decoration: line-through;
}

.bestSeller__hot {
  background-color: #ff4858;
  width: fit-content;
  padding: 1%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0px;
}
.bestSeller__hot p {
  margin: 0;
  color: white;
  font-size: 12px;
}

.bestSellor__loadDiv {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

.bestSeller__loadMore {
  border-bottom: 2px solid white;

  padding-bottom: 0.8%;
  font-weight: 700;
  color: #2e90e5;
  width: fit-content;
}

.bestSeller__loadMore:hover {
  cursor: pointer;
  border-bottom: 2px solid #2e90e5;
}

/* 
Store
*/

.store__pagination {
  background-color: #f6f7f8;
  text-align: center;
}

.store__pagination h3 {
  padding: 1%;
  color: #2e90e5;
}

.store__container {
  margin: 0 10%;
  display: flex;
  gap: 4vw;
}
.store__left {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.store__right {
  flex: 1;
}

/* 
store accessories
*/

.store__accesories,
.store__prices,
.store__colors,
.store__brand {
  background-color: #f6f7f8;
  /* width: fit-content; */
  padding: 5%;
  border-radius: 4px;
  margin-bottom: 10%;
}

.store__prices div {
  display: flex;
  justify-content: space-around;
}

.store__colors-btnDiv {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.store__colors-btnDiv button {
  border: none;
  /* background-color: none; */
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.btn-blue {
  background-color: blue;
}

.btn-red {
  background-color: red;
}

.btn-black {
  background-color: black;
}

.btn-yellow {
  background-color: yellow;
}

.btn-gold {
  background-color: rgba(255, 217, 0, 0.578);
}

.store__colors-btnDiv button:active {
  border: 2px solid blue;
}

.store__accesories div,
.store__brand div {
  display: flex;
  justify-content: space-between;
  /* width: 13vw; */
}

/* 
store prices
*/

/* 
store banner
*/

.store__banner {
  background-color: #2e90e5;
  width: 100%;
  height: fit-content;
  display: flex;
  border-radius: 4px;
  justify-content: space-around;
}

.store__banner-text {
  color: white;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.store__banner-text p {
  font-size: 22px;
}

.store__banner-btn {
  background: none;
  border: none;
  padding: 1vh 0;
  border-bottom: 2px solid white;
  color: inherit;
  font-weight: 700;
  cursor: pointer;
}

/* 
store products
*/

.store__products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 10% 0;
  position: relative;
}
.store__products {
  position: relative;
}

/* .store__product:hover {
  box-shadow: 1px 0px 15px grey;
} */

.store__product {
  background-color: white;
  box-shadow: 1px 0px 1px rgba(128, 128, 128, 0.301);
  width: fit-content;
  border: 3px solid #f6f7f8;
  border-radius: 4px;
  margin: 1%;
  padding: 1%;
}

.store__product-textDiv {
  border-top: 1px solid #8080803c;
  margin-top: 5%;
  text-align: center;
}

.store__product-price {
  color: red;
}

.store-priceOff {
  color: gray;
  font-size: 18px;
  text-decoration: line-through;
}

.store__products-cart {
  display: flex;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 50%;
}

.store__products-cart:hover {
  opacity: 1;
  background-color: #f6f7f86f;
}

.store__products-favIcon,
.store__products-addToCart {
  font-size: 36px;
  cursor: pointer;
  position: relative;
  top: 50%;
  color: #2e90e5;
  /* height: 100%; */
}

.store__pagination-bottom {
  background-color: hwb(210 96% 3%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  height: 8vh;
  margin-top: 15vh;
}

.store__pagination-bottom h2 {
  cursor: pointer;
  margin: 0;
  padding: 2vh;
  /* height: 100%; */
}

.store__pagination-bottom h2:hover {
  background-color: black;
  color: white;
}

/* 
cart 
*/

.cart__display {
  margin: 5% 10%;
}

.cart__pagination {
  background-color: #f6f7f8;
  text-align: center;
}

.cart__pagination h3 {
  padding: 1%;
  /* color: #2e90e5; */
}

.cart__table {
  width: 100%;
}

.cart__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.cart__voucherDiv {
  width: 40%;
}

.cart__voucherDiv input {
  text-indent: 10%;
  height: 5vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid grey;
}
.cart__voucherDiv button {
  height: 5vh;
  padding: 0 2%;
  background-color: #2e90e5;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid grey;
}

.cart__table-product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vh;
}

.cart__counterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
}

.cart__counter {
  width: 25%;
}

.cart__counter-details div,
.cart__counter-total {
  display: flex;
  justify-content: space-between;
}

.cart__checkout-btnDiv {
  width: 25%;
}

.cart__checkout a {
  color: white;
  font-size: 16px;
}

.cart__checkout-btn {
  width: 100%;
  height: 5vh;
  color: white;
  background-color: #2e90e5;
  border: 1px solid grey;
  border-radius: 4px;
  font-weight: 600;
}

.cart__checkout-btn:hover {
  background-color: white;
  color: #2e90e5;
  border: 1px soild #2e90e5;
  cursor: pointer;
}

.cart__checkout-goBack {
  width: 100%;
  height: 5vh;
  background-color: #80808084;
  margin: 1vh 0;
  border-radius: 5px;
  border: 1px soild #8080808f;
}

.checkout-btnsDiv {
  margin-top: 5vh;
}

/* 
Login or signup
*/

.login__container,
.signup__container {
  text-align: center;
  margin: 5%;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}

.login__container {
  margin-bottom: 12%;
}

.login__heading,
.signup__heading {
  text-align: start;
  margin-bottom: 5%;
  /* color: #494949; */
  font-weight: 600;
  font-family: inherit;
}

.login__form,
.signup__form {
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}

.login__form input,
.signup__form input {
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: inherit;
  font-size: 16px;
  text-indent: 5%;
  margin-bottom: 1vh;
}

#login__btn,
#signup__btn {
  width: 10vw;
  padding: 1vh;
  border-radius: 5px;
  border: 1px solid white;
  margin-top: 3vh;
  background-color: #494949;
  color: white;
  font-family: inherit;
  cursor: pointer;
}

#login__btn:hover,
#signup__btn:hover {
  color: #494949;
  background-color: white;
  border: 1px solid #494949;
}

/* .signup__link::after {
  text-decoration: none;
} */

/* 
pre navbar
*/

.preNavBar__container {
  text-align: end;
}

.preNavBar__container p {
  margin: 0;
  margin: 20px 100px 0 0;
}

/* 
counter
*/

.counter__div {
  /* background-color: gray; */
  height: 4vh;
}

.counter__div button {
  border: 1px solid #2e90e5;
  height: 100%;
  width: 30%;
  border-radius: 5px;
  background-color: #f6f7f8;
}
.counter__div span {
  padding: 1% 10%;
  background-color: #f6f7f8;
  border-top: 1px solid #2e90e5;
  border-bottom: 1px solid #2e90e5;
}

.noProducts {
  text-align: center;
  margin: 20vh 0 30vh 0;
}
.banner__img-moblie {
  display: none;
}
@media all and (max-width: 420px) {
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
  }

  .footer,
  .footer__payments {
    display: none;
  }
  hr {
    display: none;
  }
  .featured {
    width: 80vw;
  }
  .preNavBar__container {
    display: none;
  }
  .header__iconDiv {
    display: flex;
    justify-content: flex-start;
    margin-left: 10vw;
    /* margin-bottom: 2vh; */
  }
  .header__navBar {
    display: none;
  }
  .banner__img {
    display: none;
  }
  .banner {
    width: 100%;
  }
  .banner__img-moblie {
    display: inline;
    position: relative;
    right: 15vw;
    height: 100%;
  }
  .bestSeller__product {
    margin: 1vh;
  }
  .details__topic {
    width: 100%;
    margin: 5%;
  }
  .banner2 {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .banner2__text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
  }
  .banner2__img {
    width: 100%;
    height: 71%;
    position: relative;
    left: 20vw;
  }
  .store__left,
  .store__pagination {
    display: none;
  }
  .store__container {
    gap: 0;
  }
  .store__right {
    position: relative;
    right: 10vw;
  }
  .store__banner {
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    position: relative;
    left: 0vw;
    margin-top: 2vh;
  }
  .store__banner-text {
    width: 80%;
  }
  .cart__display {
    margin: 0;
  }
  .signup__form,
  .login__form {
    width: 100%;
    margin-top: 10vh;
  }
  .login__form input,
  .signup__form input {
    width: 80%;
  }
  #login__btn,
  #signup__btn {
    width: 80%;
  }
  .login__heading,
  .signup__heading {
    margin-top: 10vh;
  }
}
